# server configuration
NODE_ENV=local

# database configuration
PGUSER=developer
PGPASSWORD=12345678
PGHOST=localhost
PGPORT=5432
PGDATABASE=openmusic_v1

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672/

# SMTP Credentials
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=null
SMTP_PASSWORD=null
SMTP_SECURE=false
SMTP_FROM=null